@mixin rounded($radio : 10px)
  border-radius : $radio
  -moz-border-radius : $radio
  -webkit-border-radius : $radio

@mixin shadowed 
  -webkit-box-shadow: 1px 1px 1px #ccc
  -moz-box-shadow: 1px 1px 1px  #ccc
  box-shadow: 1px 1px 1px  #ccc

@mixin small_rounded
  @include rounded(5px)
  

@mixin boxed($pad : 0.8em) 
  @include shadowed
  @include rounded
  border: solid 1px gray
  margin-bottom: 0.5em
  padding : $pad

@mixin gray-box 
  @include opaque(0.4)
  @include rounded(5px)
  background-color: #000000
  border-bottom: solid 1px #E8F1EA

@mixin opaque($o : 0.7) 
  opacity: $o
  -moz-opacity: $o

@mixin link_style
  color: #E6EEE8
  text-decoration: none
  &:hover
    cursor: pointer
    text-decoration: underline
  &:visited
    color: #BFC6C1
  
*
  margin: 0
  padding: 0
  
  
body
  background-color: #fff
  background: url('/images/background-repeat.jpg')
  font: 14px/1.5em 'BitstreamVeraSansMonoRoman', Arial, sans-serif
  letter-spacing: 0.2px
  text-align: center
  padding: 60px 20px 0 20px

  #top-banner
    float: left
    font-size: 15px
    height: 40px
    left: 0px
    padding: 5px
    position: fixed
    text-align: right
    top: 0px
    width: 100%
    
    .right-box
      @include gray-box
      float: right
      padding: 0.28em 0.49em
      text-align: right
      width: 6%
      img
        margin-top: 5px

    .left-box
      @include gray-box
      float: left
      padding: 0.5em
      text-align: left
      width: 90%

      .cv
        padding-left: 35px
        img
          border: solid 1px #000  
          margin-top: 7px
      .author
        font: 22px 'SpinCycleOTRegular', Arial, sans-serif
        letter-spacing: 2px
        margin-top: 2px
        a
          color: #E8F1EA
          text-decoration: none
          &:hover
            color: #E8F1EA
            text-decoration: underline
          &:visited
            color: #DCE4DE

h1, h2, h3, h4, h5, h6
  font-size: 100%
h1
  line-height: 110%
  font-size: 25px
  font-family: 'SpinCycleOTRegular', Helvetica, Arial, sans-serif
  margin-bottom: 20px
  a
    color: #000
    &:visited
      color: #000
h3, h4, h5
  margin: 1.5em 0 0.8em 0

p
  margin: 1em 0

a
  +link_style
  img
    border: 0

table
  font-size: inherit
  font: 100%
  
blockquote
  margin: 10px 20px
  font-style: italic

div.year
  margin-bottom: 60px
  &:last-child
    margin-bottom: 0
  h2.year
    color: #888
    float: left
    margin: 0.2em 0 0 -3em
    font-size: 250%
  h3.month, h2.tag
    margin-top: 0
  
ul 
  margin-left: 2em
ul.posts
  list-style-type: none
  margin-bottom: 2em
  margin-left: 0em
  li
    line-height: 1.75em  
    strong.date
      color: #888
      margin-right: 5px
      .tag &
        width: 6.5em
        display: inline-block
        text-align: right

#search
  margin: 25px 0
  .text
    width: 130px
    font-size: 100%

ol#tag-cloud
  margin-bottom: 35px
  li
    display: inline
    line-height: 150%
    a
      padding: 2px
    &.tier-1
      font-size: 75%
    &.tier-2
      font-size: 90%
    &.tier-3
      font-size: 105%
    &.tier-4
      font-size: 120%
    &.tier-5
      font-size: 135%
    &.tier-6
      font-size: 150%

#site
  font-size: 100%
  text-align: left
  line-height: 1.5em
  width: 800px
  margin: 0 auto 2em auto

  #sidebar
    float: right
    width: 220px
    margin-right: 1em
    margin-bottom: 45px
    #title
      color: #DAA520
      font-weight: bold
      margin-bottom: 10px
      font-size: 16px
      text-align: center
      a
        color: #DAA520
        &:hover
          color: #000
    #github, #tweets, #working-with-rails
      margin-top: 45px
      a
        color: #000000
    #github, #working-with-rails
      text-align: center
    #tweets
      h2
        margin-bottom: -5px
      li
        @include rounded(4px)
        list-style-type: none
        font-size: 10px
        background: #eee
        padding: 8px 10px
        margin: 15px 0
        &:after
          content: ""
          border: 8px solid transparent
          border-top: 8px solid #eee
          border-bottom: 0
          width: 0
          height: 0
          display: block
          margin: 5px 0 -15px 0
            
  #content
    width: 500px
    margin-left: 1em

  #footer
    clear: both
    margin: 80px 0 -5px 0
    font-size: 80%
    a
      color: #8085C1
    

#about
  #photo
    float: left
    margin: 0 15px 5px 0


#post
  h1
    margin-bottom: 0
  .subtitle
    color: #BBB
    margin-top: 0
    font-size: 13px
    a
      color: #777
      
  .center
    text-align: center
  img.bordered
    border: 1px solid #AAA
  .updated
    background: #FFFEEB
    border: 1px solid #AAA
    border-width: 1px 0
    padding: 10px
    margin: 20px 10px
    h5
      margin: 6px 0
  
  #older_and_newer
    margin-top: 20px
    p
      font-size: 0.8em
      strong
        width: 10em
        display: inline-block
        text-align: right
        margin-right: 5px
  #related_posts
    margin-top: 30px
    p
      margin: 0
      font-size: 0.8em
      strong
        width: 10em
        display: inline-block
        text-align: right
        margin-right: 5px

/* Disqus comments */

#disqus_thread
  margin-top: 45px
  .dsq-item-cp, .dsq-comment-options, li[id^=dsq-more-], .dsq-by
    display: none !important
  #dsq-content #dsq-comments .dsq-comment-footer
    margin-top: 5px

/* Google 404 suggestions */

#goog-fixurl
  margin: 25px 0 0 0
  .content
    width: auto
    margin: 0
  ul
    list-style-type: none
    li
      margin: 15px 0
