---
layout: default
title: El Efe
---

#about

  =header "Acerca de mi"
  
  :textile
  
    Hola, soy Lucas Efe.

    Programo en algunos lenguajes, pero mi preferido es Ruby, por lejos.

    Toco el bajo y canto en una banda de pop-rock que se llama "Justo al Caer":http://www.justoalcaer.com.ar. La formación se completa con Ezequiel en guitarra y con mi mac en acompañamiento.

    Estoy viviendo en pareja, muy feliz, desde agosto de 2008 en pareja en el barrio porteño de Villa Crespo con mi amada novia Tam (¿Se pone novia cuando se está conviviendo?)

    Si me necesitan pueden encontrarme en el maldito google muy fácilmente... lo cual es preocupante. :/
    
    Podés leer un poco de mi carrera profesional en mi <a href='/cv.html'>CV</a>